<%- include('./partials/head') %> 
<%- include('./partials/nav') %> 

<% data.forEach(element => { %> 
    <article>
        <%# console.log(element) %>
        <a href="/articledetails/<%= element.id %> ">
            <img src="<%= element.url %>">
        </a>
        <p><%= element.title %> </p>
    </article>
<% }) %> 
<%- include('./partials/foot') %>